<head>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.1/dist/leaflet.css" />
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.1/dist/leaflet.js"></script>

    <!-- geoJSON file -->
    <script src="{{STATIC_URL}}json/Sagebrush_Reporting_Units_Counties_2_Simplify.json"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

    <!-- JQuery Slider -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}deps/tablesorter/jquery.tablesorter.js"></script>

    <!-- My CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/base.css" />
    <link href="{{STATIC_URL}}css/buttons.css" rel="stylesheet" type="text/css" />

    <script>
        static_url={{STATIC_URL}};
    </script>

</head>

<body>
    <div id="header"><img id="site_icon" src="{{STATIC_URL}}img/site_icon.png">3D Landscape Simulator</div>

    <div id="contents">
        <div id="input">
            <div class="steps">1. Select a County</div>
            <div id="selected_features"></div>
            <!--<table style="width:100%" id="initial_conditions_table"><tr></tr></table>-->
            <div style="display:none" id="input_initial_veg">
                <div class="steps">2. Specify Initial Vegetation Cover</div>
                <table id="sliderTable" class="tablesorter">
                     <tr>
                         <td>
                             <label for="amount_veg1"><span class="imageOverlayLink">Basin Big Sagebrush Upland</span></label>
                             <input type="text" id="veg1_label" class="current_slider_setting" readonly >

                             <span class="show_state_classes_link" id="state_class_link_1"> <img class="dropdown_arrows" src="{{STATIC_URL}}img/down_arrow.png"></span>

                             <div class="slider_bars" id="veg1_slider"></div>

                             <div class="sub_slider_text_inputs" style="display:none">
                                <table class="sub_slider_table" title="Basin Big Sagebrush Upland">
                                    <tr><td>Ann Gr Mono:Open</td><td><input class="veg_state_class_entry" id="veg_1_1" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Ann Gr:Open</td><td><input class="veg_state_class_entry" id="veg_1_2" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Crst Wht Gr:Open</td><td><input class="veg_state_class_entry" id="veg_1_3" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Early:Open</td><td><input class="veg_state_class_entry" id="veg_1_4"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late 2:Open</td><td><input class="veg_state_class_entry" id="veg_1_5"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late:Closed</td><td><input class="veg_state_class_entry" id="veg_1_6"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late:Open</td><td><input class="veg_state_class_entry" id="veg_1_7"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid 2:Open</td><td><input class="veg_state_class_entry" id="veg_1_8"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid:Closed</td><td><input class="veg_state_class_entry" id="veg_1_9"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid:Open</td><td><input class="veg_state_class_entry" id="veg_1_10"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Seeded:Open</td><td><input class="veg_state_class_entry" id="veg_1_11"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Sh Ann Gr:Closed</td><td><input class="veg_state_class_entry" id="veg_1_12"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Sh Dpl:Closed</td><td><input class="veg_state_class_entry" id="veg_1_13"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Ann Gr:Closed</td><td><input class="veg_state_class_entry" id="veg_1_14"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Ann Gr:Open</td><td><input class="veg_state_class_entry" id="veg_1_15"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Enc Thr:Closed</td><td><input class="veg_state_class_entry" id="veg_1_16"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Enc:Open</td><td><input class="veg_state_class_entry" id="veg_1_17"  type="text" size="2" value="0">%</td></tr>
                                </table>
                             </div>

                         </td>
                     </tr>
                     <tr>
                         <td>
                             <label for="amount_veg2"><span class="imageOverlayLink">Curleaf Mountain Mahogany</span></label>
                             <input style="width:50px;border:0" type="text" id="veg2_label" class="current_slider_setting" readonly>

                             <span class="show_state_classes_link" id="state_class_link_2"> <img class="dropdown_arrows" src="{{STATIC_URL}}img/down_arrow.png"></span>

                             <div class="slider_bars" id="veg2_slider"></div>

                             <div class="sub_slider_text_inputs" style="display:none">
                                 <table class="sub_slider_table" title="Curleaf Mountain Mahogany">
                                     <tr><td>Ann Gr Mono:Open</td><td><input class="veg_state_class_entry" id="veg_2_1" type="text" size="2" value="0">%</td></tr>
                                     <tr><td>Ann Gr:Open</td><td><input class="veg_state_class_entry" id="veg_2_2" type="text" size="2" value="0">%</td></tr>
                                     <tr><td>Crst Wht Gr:Open</td><td><input class="veg_state_class_entry" id="veg_2_3" type="text" size="2" value="0">%</td></tr>
                                     <tr><td>Early:Open</td><td><input class="veg_state_class_entry" id="veg_2_4"  type="text" size="2" value="0">%</td></tr>
                                     <tr><td>Late 2:Open</td><td><input class="veg_state_class_entry" id="veg_2_5"  type="text" size="2" value="0">%</td></tr>
                                     <tr><td>Late:Closed</td><td><input class="veg_state_class_entry" id="veg_2_6"  type="text" size="2" value="0">%</td></tr>
                                     <tr><td>Late:Open</td><td><input class="veg_state_class_entry" id="veg_2_7"  type="text" size="2" value="0">%</td></tr>
                                     <tr><td>Mid 2:Open</td><td><input class="veg_state_class_entry" id="veg_2_8"  type="text" size="2" value="0">%</td></tr>
                                     <tr><td>Mid:Closed</td><td><input class="veg_state_class_entry" id="veg_2_9"  type="text" size="2" value="0">%</td></tr>
                                     <tr><td>Mid:Open</td><td><input class="veg_state_class_entry" id="veg_2_10"  type="text" size="2" value="0">%</td></tr>
                                     <tr><td>Seeded:Open</td><td><input class="veg_state_class_entry" id="veg_2_11"  type="text" size="2" value="0">%</td></tr>
                                     <tr><td>Sh Ann Gr:Closed</td><td><input class="veg_state_class_entry" id="veg_2_12"  type="text" size="2" value="0">%</td></tr>
                                     <tr><td>Sh Dpl:Closed</td><td><input class="veg_state_class_entry" id="veg_2_13"  type="text" size="2" value="0">%</td></tr>
                                     <tr><td>Tr Ann Gr:Closed</td><td><input class="veg_state_class_entry" id="veg_2_14"  type="text" size="2" value="0">%</td></tr>
                                     <tr><td>Tr Ann Gr:Open</td><td><input class="veg_state_class_entry" id="veg_2_15"  type="text" size="2" value="0">%</td></tr>
                                     <tr><td>Tr Enc Thr:Closed</td><td><input class="veg_state_class_entry" id="veg_2_16"  type="text" size="2" value="0">%</td></tr>
                                     <tr><td>Tr Enc:Open</td><td><input class="veg_state_class_entry" id="veg_2_17"  type="text" size="2" value="0">%</td></tr>
                                 </table>
                             </div>
                         </td>
                     </tr>
                    <tr>
                        <td>
                            <label for="amount_veg3"><span class="imageOverlayLink">Low Sagebrush</span></label>
                            <input style="width:50px;border:0" type="text" id="veg3_label" class="current_slider_setting" readonly>

                            <span class="show_state_classes_link" id="state_class_link_3"> <img class="dropdown_arrows" src="{{STATIC_URL}}img/down_arrow.png"></span>

                            <div class="slider_bars" id="veg3_slider"></div>
                            <div class="sub_slider_text_inputs" style="display:none">
                                <table class="sub_slider_table" title="Low Sagebrush">
                                    <tr><td>Ann Gr Mono:Open</td><td><input class="veg_state_class_entry" id="veg_3_1" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Ann Gr:Open</td><td><input class="veg_state_class_entry" id="veg_3_2" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Crst Wht Gr:Open</td><td><input class="veg_state_class_entry" id="veg_3_3" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Early:Open</td><td><input class="veg_state_class_entry" id="veg_3_4"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late 2:Open</td><td><input class="veg_state_class_entry" id="veg_3_5"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late:Closed</td><td><input class="veg_state_class_entry" id="veg_3_6"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late:Open</td><td><input class="veg_state_class_entry" id="veg_3_7"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid 2:Open</td><td><input class="veg_state_class_entry" id="veg_3_8"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid:Closed</td><td><input class="veg_state_class_entry" id="veg_3_9"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid:Open</td><td><input class="veg_state_class_entry" id="veg_3_10"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Seeded:Open</td><td><input class="veg_state_class_entry" id="veg_3_11"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Sh Ann Gr:Closed</td><td><input class="veg_state_class_entry" id="veg_3_12"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Sh Dpl:Closed</td><td><input class="veg_state_class_entry" id="veg_3_13"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Ann Gr:Closed</td><td><input class="veg_state_class_entry" id="veg_3_14"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Ann Gr:Open</td><td><input class="veg_state_class_entry" id="veg_3_15"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Enc Thr:Closed</td><td><input class="veg_state_class_entry" id="veg_3_16"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Enc:Open</td><td><input class="veg_state_class_entry" id="veg_3_17"  type="text" size="2" value="0">%</td></tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="amount_veg4"><span class="imageOverlayLink">Montane Sagebrush Upland</span></label>
                            <input style="width:50px;border:0" type="text" id="veg4_label" class="current_slider_setting" readonly>

                            <span class="show_state_classes_link" id="state_class_link_2"><img class="dropdown_arrows" src="{{STATIC_URL}}img/down_arrow.png"></span>

                            <div class="slider_bars" id="veg4_slider"></div>
                            <div class="sub_slider_text_inputs" style="display:none">
                                <table class="sub_slider_table" title="Montane Sagebrush Upland">
                                    <tr><td>Ann Gr Mono:Open</td><td><input class="veg_state_class_entry" id="veg_4_1" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Ann Gr:Open</td><td><input class="veg_state_class_entry" id="veg_4_2" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Crst Wht Gr:Open</td><td><input class="veg_state_class_entry" id="veg_4_3" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Early:Open</td><td><input class="veg_state_class_entry" id="veg_4_4"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late 2:Open</td><td><input class="veg_state_class_entry" id="veg_4_5"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late:Closed</td><td><input class="veg_state_class_entry" id="veg_4_6"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late:Open</td><td><input class="veg_state_class_entry" id="veg_4_7"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid 2:Open</td><td><input class="veg_state_class_entry" id="veg_4_8"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid:Closed</td><td><input class="veg_state_class_entry" id="veg_4_9"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid:Open</td><td><input class="veg_state_class_entry" id="veg_4_10"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Seeded:Open</td><td><input class="veg_state_class_entry" id="veg_4_11"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Sh Ann Gr:Closed</td><td><input class="veg_state_class_entry" id="veg_4_12"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Sh Dpl:Closed</td><td><input class="veg_state_class_entry" id="veg_4_13"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Ann Gr:Closed</td><td><input class="veg_state_class_entry" id="veg_4_14"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Ann Gr:Open</td><td><input class="veg_state_class_entry" id="veg_4_15"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Enc Thr:Closed</td><td><input class="veg_state_class_entry" id="veg_4_16"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Enc:Open</td><td><input class="veg_state_class_entry" id="veg_4_17"  type="text" size="2" value="0">%</td></tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="amount_veg5"><span class="imageOverlayLink">Montane Sagebrush Upland With Trees</span></label>
                            <input style="width:50px;border:0" type="text" id="veg5_label" class="current_slider_setting" readonly>

                            <span class="show_state_classes_link" id="state_class_link_2"> <img class="dropdown_arrows" src="{{STATIC_URL}}img/down_arrow.png"></span>

                            <div class="slider_bars" id="veg5_slider"></div>
                            <div class="sub_slider_text_inputs" style="display:none">
                                <table class="sub_slider_table" title="Montane Sagebrush Upland With Trees">
                                    <tr><td>Ann Gr Mono:Open</td><td><input class="veg_state_class_entry" id="veg_5_1" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Ann Gr:Open</td><td><input class="veg_state_class_entry" id="veg_5_2" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Crst Wht Gr:Open</td><td><input class="veg_state_class_entry" id="veg_5_3" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Early:Open</td><td><input class="veg_state_class_entry" id="veg_5_4"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late 2:Open</td><td><input class="veg_state_class_entry" id="veg_5_5"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late:Closed</td><td><input class="veg_state_class_entry" id="veg_5_6"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late:Open</td><td><input class="veg_state_class_entry" id="veg_5_7"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid 2:Open</td><td><input class="veg_state_class_entry" id="veg_5_8"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid:Closed</td><td><input class="veg_state_class_entry" id="veg_5_9"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid:Open</td><td><input class="veg_state_class_entry" id="veg_5_10"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Seeded:Open</td><td><input class="veg_state_class_entry" id="veg_5_11"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Sh Ann Gr:Closed</td><td><input class="veg_state_class_entry" id="veg_5_12"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Sh Dpl:Closed</td><td><input class="veg_state_class_entry" id="veg_5_13"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Ann Gr:Closed</td><td><input class="veg_state_class_entry" id="veg_5_14"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Ann Gr:Open</td><td><input class="veg_state_class_entry" id="veg_5_15"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Enc Thr:Closed</td><td><input class="veg_state_class_entry" id="veg_5_16"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Enc:Open</td><td><input class="veg_state_class_entry" id="veg_5_17"  type="text" size="2" value="0">%</td></tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="amount_veg6"><span class="imageOverlayLink">Western Juniper Woodland & Savannah</span></label>
                            <input style="width:50px;border:0" type="text" id="veg6_label" class="current_slider_setting" readonly>

                            <span class="show_state_classes_link" id="state_class_link_2"> <img class="dropdown_arrows" src="{{STATIC_URL}}img/down_arrow.png"></span>

                            <div class="slider_bars" id="veg6_slider"></div>
                            <div class="sub_slider_text_inputs" style="display:none">
                                <table class="sub_slider_table" title="Western Juniper Woodland & Savannah">
                                    <tr><td>Ann Gr Mono:Open</td><td><input class="veg_state_class_entry" id="veg_6_1" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Ann Gr:Open</td><td><input class="veg_state_class_entry" id="veg_6_2" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Crst Wht Gr:Open</td><td><input class="veg_state_class_entry" id="veg_6_3" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Early:Open</td><td><input class="veg_state_class_entry" id="veg_6_4"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late 2:Open</td><td><input class="veg_state_class_entry" id="veg_6_5"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late:Closed</td><td><input class="veg_state_class_entry" id="veg_6_6"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late:Open</td><td><input class="veg_state_class_entry" id="veg_6_7"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid 2:Open</td><td><input class="veg_state_class_entry" id="veg_6_8"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid:Closed</td><td><input class="veg_state_class_entry" id="veg_6_9"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid:Open</td><td><input class="veg_state_class_entry" id="veg_6_10"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Seeded:Open</td><td><input class="veg_state_class_entry" id="veg_6_11"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Sh Ann Gr:Closed</td><td><input class="veg_state_class_entry" id="veg_6_12"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Sh Dpl:Closed</td><td><input class="veg_state_class_entry" id="veg_6_13"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Ann Gr:Closed</td><td><input class="veg_state_class_entry" id="veg_6_14"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Ann Gr:Open</td><td><input class="veg_state_class_entry" id="veg_6_15"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Enc Thr:Closed</td><td><input class="veg_state_class_entry" id="veg_6_16"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Enc:Open</td><td><input class="veg_state_class_entry" id="veg_6_17"  type="text" size="2" value="0">%</td></tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="amount_veg7"><span class="imageOverlayLink">Wyoming and Basin Big Sagebrush Upland</span></label>
                            <input style="width:50px;border:0" type="text" id="veg7_label" class="current_slider_setting" readonly>

                            <span class="show_state_classes_link" id="state_class_link_2"> <img class="dropdown_arrows" src="{{STATIC_URL}}img/down_arrow.png"></span>

                            <div class="slider_bars" id="veg7_slider"></div>
                            <div class="sub_slider_text_inputs" style="display:none">
                                <table class="sub_slider_table" title="Wyoming and Basin Big Sagebrush Upland">
                                    <tr><td>Ann Gr Mono:Open</td><td><input class="veg_state_class_entry" id="veg_7_1" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Ann Gr:Open</td><td><input class="veg_state_class_entry" id="veg_7_2" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Crst Wht Gr:Open</td><td><input class="veg_state_class_entry" id="veg_7_3" type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Early:Open</td><td><input class="veg_state_class_entry" id="veg_7_4"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late 2:Open</td><td><input class="veg_state_class_entry" id="veg_7_5"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late:Closed</td><td><input class="veg_state_class_entry" id="veg_7_6"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Late:Open</td><td><input class="veg_state_class_entry" id="veg_7_7"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid 2:Open</td><td><input class="veg_state_class_entry" id="veg_7_8"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid:Closed</td><td><input class="veg_state_class_entry" id="veg_7_9"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Mid:Open</td><td><input class="veg_state_class_entry" id="veg_7_10"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Seeded:Open</td><td><input class="veg_state_class_entry" id="veg_7_11"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Sh Ann Gr:Closed</td><td><input class="veg_state_class_entry" id="veg_7_12"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Sh Dpl:Closed</td><td><input class="veg_state_class_entry" id="veg_7_13"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Ann Gr:Closed</td><td><input class="veg_state_class_entry" id="veg_7_14"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Ann Gr:Open</td><td><input class="veg_state_class_entry" id="veg_7_15"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Enc Thr:Closed</td><td><input class="veg_state_class_entry" id="veg_7_16"  type="text" size="2" value="0">%</td></tr>
                                    <tr><td>Tr Enc:Open</td><td><input class="veg_state_class_entry" id="veg_7_17"  type="text" size="2" value="0">%</td></tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
                <div id="total_input_percent_div">Total Percent Cover: <div id="total_input_percent">0</div></div>
            </div>

            <div style="display:none" id="input_management_scenario">
                <div class="steps">3.&nbsp;Choose a Management Scenario</div>
                <form method="post">
                    <input type="radio" name="scenario" value="10" checked><label for="10" class="scenario_radio_label" id="Treatments focus on thinning of trees in areas that are encroached by pinion and juniper.">Current Management </label><br>
                    <input type="radio" name="scenario" value="188"><label for="188" class="scenario_radio_label" id="No management actions take place in this scenario.">No Management </label><br>
                    <input type="radio" name="scenario" value="190"><label for="190" class="scenario_radio_label" id="Treatments focus on thinning of trees in areas that are encroached by pinion and juniper. Only treatements are in the montane upland sagebrush stratum (200 ac/year).">Minimum Management </label><br>
                    <input type="radio" name="scenario" value="191"><label for="191" class="scenario_radio_label" id="Treatments focus on thinning of trees in areas that are encroached by pinion and juniper with an additional 450 acres per year of focusing on late seral reference sites to prevent tree encroachment in these areas.">Double Current Management Budget</label><br>
                </form>
                <div id="initial_conditions"></div>
                <input id="run_button" style="display:none" value="Run Model" class="my-button my-button-ok" type="submit">
            </div>

        </div>

        <div id="button_container">
            <!--data-persist="true" keeps the current tab active on page refresh-->
            <ul id="button_list" class="buttons" data-persist="false" style="visibility:hidden;">
                <li id="map_button"><a onclick="activate_map()">2D</a></li>
                <li id="scene_button"><a onclick="activate_scene()">3D</a></li>
            </ul>
                <div id="map"></div>
                <div id="scene" style="display:none"></div>
        </div>


        <div id="output" style="display:none">
            <div id="results">
                <div id="running_st_sim">Running ST-Sim...</div>
                <div id="results_header"></div>
                <table id="results_table"><tr></tr></table>
                <div id="results_loading"></div>
            </div>
        </div>

     </div>

    <!-- HIDDEN / POP-UP DIV -->
    <div id="pop-up"></div>

    <!-- WebGL Landscape Viewer and dependencies -->
    <script src="{{STATIC_URL}}js/vendor/three/three.min.js"></script>
    <script src="{{STATIC_URL}}js/vendor/three/TGALoader.js"></script>
    <script src="{{STATIC_URL}}js/vendor/three/OrbitControls.js"></script>
    <script src="{{STATIC_URL}}js/vendor/almond.min.js"></script>
    <script src="{{STATIC_URL}}js/landscape-viewer.js"></script>

    <!-- General Javascript Functions -->
    <script src="{{STATIC_URL}}js/general_js.js"></script>

    <script src="{{STATIC_URL}}leaflet/leaflet_map.js"></script>

</body>

