{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.1/dist/leaflet.css" />
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.1/dist/leaflet.js"></script>

    <!-- Leaflet.draw -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.3.2/leaflet.draw.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.3.2/leaflet.draw.css" />

    <!-- geoJSON file -->
    <script src="{% static 'json/Sagebrush_Reporting_Units_Counties_2_Simplify.json' %}"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

    <!-- JQuery Slider -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!-- Highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <!-- Tabs -->
    <script src="{% static "js/vendor/tabcontent.js" %}" type="text/javascript"></script>
    <link href="{% static "css/vendor/tabcontent.css" %}" rel="stylesheet" type="text/css" />

    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css'%}" />
    <link href="{% static 'css/buttons.css' %}" rel="stylesheet" type="text/css" />

    <script>
        veg_type_state_classes_json = {{veg_type_state_classes_json | safe}}
        probabilistic_transitions_json = {{probabilistic_transitions_json | safe}}
        static_url="/static/"
    </script>

</head>

<body>
    <div id="header"><img id="site_icon" src="{% static 'img/site_icon.png' %}">3D Landscape Simulator</div>

    <div id="contents">

        <div id="input">
            <!-- TODO - remove the anchor tag below and the onclick call since this is purely just for development -->
            <div id="step1" class="steps"><a onclick="activate_spatial_scene()">1. Click a County or Draw a Box</a></div>
            <!--<table style="width:100%" id="initial_conditions_table"><tr></tr></table>-->
            <div style="display:none" id="input_initial_veg">
                <div class="steps">2. Specify Initial Vegetation Cover</div>
                <table id="vegTypeSliderTable" class="sliderTable"></table>
                <div id="total_input_percent_div">Total Percent Cover: <div id="total_input_percent">0%</div></div>
                <div class="steps">3. Annual Disturbance Probabilities</div>
                <table id="probabilisticTransitionSliderTable" class="sliderTable"></table>
                <!--
                Replacement Fire: <input type='text' id='fire_slider_label' value="defaults" class='current_probability_slider_setting' readonly>
                <div id ="fire_slider" class="slider_bars"></div>
                -->
            </div>
            <br>

            <div style="display:none" id="input_management_scenario">
                <div class="steps">4.&nbsp;Choose a Management Scenario</div>
                <form method="post">
                    <input type="radio" name="scenario" value="10" checked><label for="10" class="scenario_radio_label" id="Treatments focus on thinning of trees in areas that are encroached by pinion and juniper.">Current Management </label><br>
                    <input type="radio" name="scenario" value="188"><label for="188" class="scenario_radio_label" id="No management actions take place in this scenario.">No Management </label><br>
                    <input type="radio" name="scenario" value="190"><label for="190" class="scenario_radio_label" id="Treatments focus on thinning of trees in areas that are encroached by pinion and juniper. Only treatements are in the montane upland sagebrush stratum (200 ac/year).">Minimum Management </label><br>
                    <input type="radio" name="scenario" value="191"><label for="191" class="scenario_radio_label" id="Treatments focus on thinning of trees in areas that are encroached by pinion and juniper with an additional 450 acres per year of focusing on late seral reference sites to prevent tree encroachment in these areas.">Double Current Management Budget</label><br>
                </form>
                <div id="initial_conditions"></div>
                <input id="run_button" style="display:none" value="Total Percent Cover Must Equal 100%" class="disabled my-button my-button-ok" type="submit">
            </div>

        </div>

        <div id="button_container">
            <!--data-persist="true" keeps the current tab active on page refresh-->
            <ul id="button_list" class="buttons" data-persist="false" style="visibility:hidden;">
                <li id="map_button"><a onclick="activate_map()">2D</a></li>
                <li id="scene_button"><a onclick="activate_scene()">3D</a></li>
            </ul>
                <div id="map"></div>
                <div id="scene" style="display:none"></div>
                <span id="selected_features"></span>
                <div id="animation_container">
                    <label class="animation_label" for="animation_slider">Animation Slider (Spatial Outputs)</label>
                    <input id="animation_slider" type="range" min="0" max="0" value="0" step="1">
                    <label class="animation_label" for="viz_type">Show Data?</label>
                    <input id="viz_type" type="checkbox">
                </div>
        </div>

        <div id="output" style="display:block">

            <div id="results">
                <div id="results_loading"></div>
                <div id="running_st_sim" style="display:none">Running ST-Sim...</div>

                 <div id="tab_container">
                    <!--data-persist="true" keeps the current tab active on page refresh-->
                    <ul class="tabs" data-persist="false">
                        <li id="view1_tab" style="display:none"><a id="view1_link" href="#view1">Run 1</a></li>
                        <li id="view2_tab" style="display:none"><a id="view2_link" href="#view2">Run 2</a></li>
                        <li id="view3_tab" style="display:none"><a id="view3_link" href="#view3">Run 3</a></li>
                        <li id="view4_tab" style="display:none"><a id="view4_link" href="#view4">Run 4</a></li>
                    </ul>
                    <div class="tabcontents">
                        <div id="view1" class="views">
                            <div id="tabular_output_1">
                                <table id="results_table_1" class="results_table"></table>
                            </div>
                        </div>
                        <div id="view2" class="views">
                            <div id="tabular_output_2">
                                <table id="results_table_2" class="results_table"></table>
                            </div>
                        </div>
                        <div id="view3" class="views">
                            <div id="tabular_output_3">
                                <table id="results_table_3" class="results_table"></table>
                            </div>
                        </div>
                        <div id="view4" class="views">
                            <div id="tabular_output_4">
                                <table id="results_table_4" class="results_table"></table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

     </div>

    <!-- HIDDEN / POP-UP DIV -->
    <div id="pop-up"></div>

    <!-- WebGL Landscape Viewer and dependencies -->
    <script src="{% static 'js/vendor/three/three.min.js' %}"></script>
    <script src="{% static 'js/vendor/three/TGALoader.js' %}"></script>
    <script src="{% static 'js/vendor/three/OrbitControls.js' %}"></script>
    <script src="{% static 'js/vendor/almond.min.js' %}"></script>
    <script src="{% static 'js/landscape-viewer.js' %}"></script>

    <!-- Leaflet Map -->
    <script src="{% static 'leaflet/leaflet_map.js' %}"></script>

    <!-- General Javascript Functions -->
    <script src="{% static 'js/general_js.js' %}"></script>

    <!-- Stacked Area Chart -->
    <script src="{% static 'highcharts/stacked_area.js' %}"></script>
</body>
</html>
